In [1]:
import os
from datetime import datetime
import pandas as pd
from sqlalchemy import create_engine, text
import time
import numpy as np
import dotenv

dotenv.load_dotenv(".env.local")
# dotenv.load_dotenv(".env.kpzdev")

from test_unit.tasks_unit1 import UnitTask1
from mrp_functions.base_tasks import TaskBase
from mrp_functions import logging
import re

np.__version__

part_group=os.environ['PART_GROUP']
contract_code=os.environ['CONTRACT_CODE']
mrp_run_date=os.environ['MRP_RUN_DATE']
msc_code=os.environ['MSC_CODE']
plant_code=os.environ['PLANT_CODE']
production_plan_id=int(os.environ['PRODUCTION_PLAN_ID'])
user_code=int(os.environ['USER_CODE'])
simulation=bool(int(os.environ['SIMULATION']))
vehicle_color_code=os.environ['VEHICLE_COLOR_CODE']

tb = TaskBase()
tb.db_connection_health_check()

[2022-09-19 22:38:27,214] [root        ] [INFO ]  Init connection engine
[2022-09-19 22:38:27,249] [root        ] [INFO ]  DB Connection Closed

'Okay'

In [2]:
production_volume_query = f"""SELECT
            plan_date,
            msc_code,
            vehicle_color_code,
            volume,
            mwd.day_off
        FROM production_plans
        INNER JOIN mrp_week_definitions mwd on production_plans.plan_date = mwd.date
        WHERE import_id = {production_plan_id}
            and plan_date >= '{mrp_run_date}'
            and production_plans.deleted_at is null
        ORDER BY plan_date ASC;
        """
pd.read_sql(text(production_volume_query), con=tb.db_connection)

[2022-09-19 22:38:27,265] [root        ] [INFO ]  Init connection engine

      plan_date msc_code vehicle_color_code  volume  day_off
0    2022-09-17  TMSC612                 0N       7        0
1    2022-09-17  TMSC612                 KT       6        0
2    2022-09-17  TMSC613                 KT       6        0
3    2022-09-17  TMSC614                 89       1        0
4    2022-09-17  TMSC615                 KT       9        0
..          ...      ...                ...     ...      ...
546  2022-12-31  TMSC612                 KT       1        0
547  2022-12-31  TMSC613                 KT       1        0
548  2022-12-31  TMSC614                 89       2        0
549  2022-12-31  TMSC615                 KT       6        0
550  2022-12-31  TMSC617                 HU       8        0

[551 rows x 5 columns]